body {
}

$imageSmall: 60px;

main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5.6rem;
    background-color: #f5f5f5;
}

section {
    margin-top: 5.6rem;
}

/*BOTTONE*/

.mybutton {
    display: block;
    border-radius: 27px;
    font-size: 13px;
    border: none;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 46px;
    padding-right: 46px;
    white-space: nowrap;
    text-align: center;
}

/*NAVBAR*/

.header {
    /*position: fixed;*/
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .logo {
        font-size: 2rem;
        text-decoration: none;
        font-weight: 700;
    }

    #check {
        display: none;
    }

    .my-navbar a {
        font-size: 1.15rem;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 2.5rem;
    }

    .icons {
        position: absolute;
        right: 5%;
        font-size: 2.8rem;
        color: white;
        cursor: pointer;
        display: none;
    }
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/*.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}*/

.header:hover::after {
    left: 100%;
}

#check:checked ~ .my-navbar {
    height: 17.7rem;
}

/*Dropdown*/

.list {
    position: absolute;
    width: 380px;
    transform: translateY(-140px);
    margin-top: 10px;
    padding-left: 0;
}

.list {
    position: absolute;
    width: 230px;
    margin-top: 10px;
    padding-left: 0;
    right: 125px;
    top: 195px;
    z-index: 300;
}

.list .option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    background: #fff;
    padding: 0 16px;
    cursor: pointer;
    transform-origin: top;
    opacity: 0;
    transform: scale(0) translateY(-65px);
    margin-bottom: -55px;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, margin-bottom .5s ease-in-out;
    transition-delay: calc(.1s * var(--i));
}

.drop.active .option {
    transition: opacity .5s ease-in-out, transform .5s ease-in-out, margin-bottom .2s ease-in-out;
    transition-delay: calc(.1s * var(--i));
    opacity: 1;
    transform: scale(1) translateY(0);
    margin-bottom: 0;
}

.list .option:hover {
    background: #f2f2f2;
}

.list .option:nth-child(1) {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.list .option:nth-child(3) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/*BREAKPOINTS*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .header {
        .icons {
            display: inline-flex;

            #close-icon {
                display: none;
            }
        }

        .my-navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            background: blue;
            overflow: hidden;
            transition: .3s ease;

            a {
                display: block;
                font-size: 1.1rem;
                margin: 1.5rem 0;
                text-align: center;
                color: yellow;
                transform: translateY(-50px);
                opacity: 0;
                transition: .3s ease;
            }
        }
    }

    #check:checked ~ .icons #menu-icon {
        display: none;
    }

    #check:checked ~ .icons #close-icon {
        display: block;
    }

    #check:checked ~ .my-navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

/*STRUTTURE*/

.container {
    padding-bottom: 5rem;
}

.hotel-label {
    position: absolute;
    padding: 0 1rem;
    bottom: 27px;
    height: 33px;
    background: #fa9e1b;
    overflow: hidden;
}

.hotel-label a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.info-container {
    padding-top: 1rem;
}

.foto-struttura {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book_button {
    background: #31124b;
    margin-top: 2px;
}

.prezzo {
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    color: #eda84a;
    line-height: 25px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.offers_item {
    width: 100%;
    margin-bottom: 46px;
}

.offers_grid {
    width: 100%;
    margin-top: 66px;
}

.offer_reviews_title {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.offer_reviews_subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #929191;
    margin-top: 1px;
}

/*.aaa {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}*/

.hotel-map-link {
    text-align: center;
}

.temp_col {
    display: none;
}

.offer_reviews_content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.offer_reviews_rating {
    display: inline-block;
    width: 62px;
    height: 57px;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 57px;
    background: #fa9e1b;
    vertical-align: middle;
    border-radius: 15%;
}

.button {
    width: 10rem;
    border-radius: 27px;

    a {
        display: block;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        line-height: 53px;
        white-space: nowrap;
        text-align: center;
    }
}

/*SEARCH*/

.search {
    display: flex;
    align-items: center;
    width: 50rem;
    margin: 0 auto 0 auto;
}

/*STRUTTURA*/

.single_listing {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 107px;
}

.hotel-image {
    position: relative;

    img {
        width: 100%;
    }
}

.hotel_review_container {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 209px;
    height: 112px;
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    animation: review_anim 1s 0.5s forwards;
}

.hotel_review_rating {
    display: inline-block;
    width: 62px;
    height: 57px;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 57px;
    background: #fa9e1b;
    vertical-align: middle;
    border-radius: 15%;
}

.hotel_review_content {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.hotel_review_title {
    font-size: 12px;
    font-weight: 700;
    color: #2d2c2c;
    text-transform: uppercase;
}

.hotel_review_subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #929191;
    margin-top: 1px;
}

.hotel_info_text {
    margin-top: 45px;

    p {
        color: #929191;
    }
}

@keyframes review_anim {
    from {
        top: 52px;
        visibility: hidden;
        opacity: 0;
    }

    to {
        top: 22px;
        visibility: visible;
        opacity: 1;
    }
}

/*Stanze*/

.rooms {
    margin-top: 69px;
}

.room {
    margin-bottom: 33px;
}

.room_image {
    img {
        width: 100%;
    }
}

/*Recensioni*/

.review {
    margin-bottom: 91px;
}

.review_image {
    width: 45px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.review_title_container {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.review_text {
    margin-top: 24px;
}

.review_title {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #2d2c2c;
    margin-top: -3px;
}

.review_rating {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background: #fa9e1b;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 35px;
    border-radius: 22px;
}
.review_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #929191;
}

.review_name {
    font-size: 14px;
    font-weight: 400;
    color: #2d2c2c;
    margin-top: 19px;
}

.review_date {
    font-size: 12px;
    font-weight: 600;
    color: #fa9e1b;
    margin-top: 4px;
}

.reviews_title {
    font-size: 18px;
    font-weight: 600;
    color: #2d2c2c;
    text-transform: uppercase;
}

/*MOODAL*/

.mymodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.modal-box {
    position: absolute;
    left: 50%;
    top: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 501;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

.mymodal.active-modal .overlay {
    opacity: 1;
    pointer-events: auto;
}

.active-modal {
    /*    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    overflow: auto;*/
    visibility: visible;
    z-index: 500;
}

.mymodal.active-modal .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box i {
    font-size: 70px;
    color: #4070f4;
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.mymodal.active-modal .show-modal {
    display: none;
}
/*FOOTER*/
footer {
    background-color: #ededed;
}
