@model Booking.RicercaCamere

@{
    // Recupera i valori dei cookie
    var dataInizio = Request.Cookies["DataInizio"]?.Value;
    var dataFine = Request.Cookies["DataFine"]?.Value;
    var destinazione = Request.Cookies["Destinazione"]?.Value;

    // Converte i valori dei cookie in DateTime se non sono null
    DateTime? dataInizioDate = string.IsNullOrEmpty(dataInizio) ? (DateTime?)null : DateTime.Parse(dataInizio);
    DateTime? dataFineDate = string.IsNullOrEmpty(dataFine) ? (DateTime?)null : DateTime.Parse(dataFine);
}

<div class="search">
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="col fill_height">
                @using (Html.BeginForm("RicercaCamere", "Camere", FormMethod.Post, new { @class = "search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="search_item">
                        <div>destination</div>
                        @Html.EditorFor(model => model.Citta, new { htmlAttributes = new { @class = "destination search_input", Value = destinazione } })
                        @*@Html.ValidationMessageFor(model => model.Citta, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="search_item">
                        <div>check in</div>
                        @Html.TextBoxFor(model => model.DataInizio, "{0:yyyy-MM-dd}", new { @class = "check_in search_input", type = "date", Value = dataInizioDate?.ToString("yyyy-MM-dd") })
                        @*@Html.ValidationMessageFor(model => model.DataInizio, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="search_item">
                        <div>check out</div>
                        @Html.TextBoxFor(model => model.DataFine, "{0:yyyy-MM-dd}", new { @class = "check_out search_input", type = "date", Value = dataFineDate?.ToString("yyyy-MM-dd") })
                        @*@Html.ValidationMessageFor(model => model.DataFine, "", new { @class = "text-danger" })*@
                    </div>

                    <div class="search_item">
                        <div>adults</div>
                        <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                        </select>
                    </div>

                    <input type="submit" value="Cerca" class="button search_button" />
                }
            </div>
        </div>
    </div>
</div>